* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row-100 {
    background-color: lightblue;
    display: flex;
    justify-content: center;
}

.row-centered {
    background-color: orange;
    margin: 20px;
    width: calc(80% - 20px);
    display: flex;
    justify-content: space-between;
}


.row-centered .col {
    border: 1px dashed black;
    width: calc(100% / 3);
    display: flex;
    padding: 10px;
}



/* FINE barra, INIZIO BOX BLU*/

.blubox {
    background-color: rgb(13, 13, 97);
    width: 100%;
    display: flex;
    justify-content: center;
}

.pinkbox {
    background-color: rgb(247, 77, 106);
    width: calc(60% - 20px);
    margin: 20px;
    border: 1px dashed black;
    height: 300px;
}

/* fine box blu ed header, inizio main */

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container .col {
    margin: 20px;
    width: calc(60% - 20px);
    border: 1px dashed black;
    display: flex;
}

.container .right {
    background-color: rgb(65, 111, 237);
    width: calc(60%);
    height: 300px;
}

.container .left {
    background-color: pink;
    width: calc(40%);
    height: 300px;
}

/* fine zezione main bianca */

.container.second {
    background-color: lightgray;
}

.second .col {
    margin: 20px;
    width: calc(60% - 20px);
    border: 1px dashed black;
    display: flex;
    flex-direction: row-reverse;
}

/* fine seconda sezione main */

.therd {
    width: 100%;
    display: flex;
    justify-content: center;
}

.therd .col {
    margin: 20px;
    width: calc(60% - 20px);
    border: 1px dashed black;
    display: flex;
}

/* fine terza sezione, inizio sezione con box verde */

.big {
    background-color: rgb(153, 153, 157);
    width: 100%;
    display: flex;
    justify-content: center;
}

.green {
    background-color: rgb(7, 95, 23);
    width: calc(60% - 20px);
    margin: 20px;
    border: 1px dashed black;
    height: 500px;
}

/* fine sezione con box verde */

.colonne {
    background-color: grey;
    width: 100%;
    display: flex;
    justify-content: center;
}

.colonne .row {
    width: calc(60% - 20px);
    flex-direction: column;
    background-color: black;
    margin: 20px;
    display: flex;
    justify-content: center;
    height: 300px;
    flex-direction: row;
}

.colonne .col {
    width: calc(80%/5);
    background-color: blueviolet;
    border: 1px dashed black;
    height: 300px;   
}

.col.bigger {
    width:calc(20%);
    flex-grow: 1;
    background-color: brown;
    border: 1px dashed black;
}