* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row-100 {
    background-color: rgba(127,255,212,255);
    display: flex;
    justify-content: center;
   
}

.row-centered {
    background-color: rgba(218,165,32,255);
    margin: 20px;
    width: calc(80% - 20px);
    display: flex;
   
}

.row-centered .col {
    border: 1px dashed black;
    width: calc(100% / 3);
    display: flex;
    padding: 10px;
}

.menu {
    display: flex;
    
}

.text-right {
    width: 100%;
    justify-content: flex-end;
}

.text-center {
    width: 100%;
    justify-content: center;
}
/* FINE barra, INIZIO BOX BLU*/
.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.content {
    width: calc(60% - 20px);
    margin: 20px;
    border: 1px dashed black;
    height: 300px;
}

.container.blu {
    background-color: rgb(13, 13, 97);
}

.content.pink {
    background-color: rgb(247, 77, 106);
}

/* fine box blu ed header, inizio main */

.container>.col {
    margin: 20px;
    width: calc(60% - 20px);
    border: 1px dashed black;
    display: flex;
}

.container .right {
    background-color: rgba(30,144,255,255);
    width: calc(60%);
    height: 300px;
}

.container .left {
    background-color: rgba(255,192,203,255);
    width: calc(40%);
    height: 300px;
}

/* fine zezione main bianca */

.container.grey {
    background-color: lightgray;
}

.grey .col {
    margin: 20px;
    width: calc(60% - 20px);
    border: 1px dashed black;
    display: flex;
    flex-direction: row-reverse;
}

.green {
    background-color: rgba(34,139,34,255);
    width: calc(60% - 20px);
    margin: 20px;
    border: 1px dashed black;
    height: 500px;
}

/* fine sezione con box verde */

.container.darkgrey {
    background-color: rgba(35,39,42,255);

}

.darkgrey .content {
    width: calc(60% - 20px);
    flex-direction: column;
    background-color: black;
    margin: 20px;
    display: flex;
    justify-content: center;
    height: 300px;
    flex-direction: row;
}

.darkgrey .col {
    width: calc(80%/5);
    background-color: rgba(32,178,170,255);
    border: 1px dashed black;
    height: 300px;
}

.col.bigger {
    width: calc(20%);
    flex-grow: 1;
    background-color: rgba(240,128,128,255);
    border: 1px dashed black;
}

.row-100-bottoni {
  background-color: rgba(35,39,42,255);
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1px 0;
  margin-bottom: 2px;
}

.row-bottoni {
    width: calc(60% - 20px);
    background-color: rgba(127,255,212,255);
    display: flex;
    justify-content: flex-end;
    align-items: center;   
}

.row-bottoni {
    margin: 20px;
    padding: 10px 0px;
    justify-content: space-between;  
    display: flex;
}

.click {
    border: 1px dashed rgb(9, 9, 9);
    padding: 5px 7px;
}